html {
  height: 100%;
}
body {
  background: transparent linear-gradient(128deg, #FF9D00 0%, #D4411B 100%) 0 0 no-repeat padding-box;
  margin: 0;
}
.content-wrapper {
  width: 100vw;
  position: absolute;
  padding-left: 50px;
  padding-left: 4.63vh;
  padding-right: 350px;
  padding-right: 32.4vh;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.level {
  font-family: 'Cachet ExtraLight', Verdana, Geneva, sans-serif;
  font-size: 134px;
  font-size: 12.4vh;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 0;
  color: #EDEEEF;
  text-transform: uppercase;
}
.name {
  font-family: 'Cachet Bold', Verdana, Geneva, sans-serif;
  font-size: 200px;
  font-size: 18.5vh;
  line-height: 174px;
  line-height: 16.11vh;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
  color: #1A1818;
  opacity: 1;
  text-transform: uppercase;
}
.name--small {
  font-size: 140px;
  font-size: 13vh;
  line-height: 140px;
  line-height: 13vh;
}
.date {
  font-family: Cachet, Verdana, Geneva, sans-serif;
  font-size: 134px;
  font-size: 12.4vh;
  text-align: left;
  letter-spacing: -7.5px;
  letter-spacing: -0.69vh;
  color: #EDEEEF;
  opacity: 1;
}
